body {
    text-align: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: #fff;
}

.hidden {
    display: none;
}

#countdown-container {
    font-size: 2rem;
    margin-top: 20%;
}

#celebration {
    margin-top: 10%;
    font-size: 2rem;
}

#cake-container img {
    width: 200px;
}

button {
    background: #ff4081;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
